@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "forma-djr-mono", sans-serif;
}

.loading::after {
  content: '';
  position: fixed;
  z-index: 10000;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 1px;
  margin-left: -50px;
  background: #fff;
  animation: loaderAnim 1.5s ease-in-out infinite alternate forwards;
}

@keyframes loaderAnim {
  0% { transform: scaleX(0); transform-origin: 0% 50%;}
  50% { transform: scaleX(1); transform-origin: 0% 50%;}
  50.1% { transform: scaleX(1); transform-origin: 100% 50%;}
  100% { transform: scaleX(0); transform-origin: 100% 50%;}
}

.scene {
  perspective: 900px;
}

.scene__title {
  font-size: 1.4rem !important;
  font-weight: 500 !important;
  letter-spacing: 0.12em !important;
  color: white !important;
  margin-top: -180px !important;
  pointer-events: none;
}

.preview__title {
  font-size: 1.2rem !important;
  margin-top: -10px !important;
  font-weight: 600 !important;
}


